@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

body{
    background-color: white;
}

.heading_div{
    display: flex;
    left: 600px;
    font-family: 'Lobster', cursive;
    width: 500px;
}

#result,
#camera{
    border: black dashed 3px;
    height: 30%;
    width: 50%;
}

.footer_div img{
    height: 20%;
    width: 150px;
    margin-right: 600px;

}

.btn-success,
.btn-info{
    width: 50%;
    font-size: 20px;
}



.main_div label{
    font-size: 16px;
}