@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:wght@700&display=swap');

body{
    background-color: plum;
}

.heading_div{
    display: flex;
    left: 600px;
    font-family: 'Lobster', cursive;
    width: 500px;
}

@font-face {
    font-family: Lobster;
    src: url("Lobster-Regular.ttf");
}


#camera{
    border: slateblue dashed 4px;
    height: 40%;
    width: 80%;
}

#result{
    border: slateblue dashed 4px;
    height: 33.8%;
    width: 75%;
}

.heading_div{
    background-color:white;
    border: slateblue 6px solid;
}



#object_name{
    color: orange;
    font-size: 20px;
    font-family: 'Lobster Two', cursive;
   
}

.footer_div{
    position: absolute;
    top: 650px;
    right: 350px;
    background-color: saddlebrown;
    border: wheat 8px solid;
    border-radius: 10px;
    color: white;
}


.main_div{
    background-color: lightskyblue;
    color: whitesmoke;
    box-shadow: lightyellow 20px 20px  28px;
    border: wheat 8px solid;
    width: 40%;
    left: 200px;
}

.btn-success,
.btn-warning{
    width: 35%;
    font-size: 18px;
}



.main_div label{
    font-size: 16px;
}